{% extends "master.html" %}

{% block head %}
<title>About THN</title>
{% endblock %}
<style>
.twice-size {
	font-size: 2em;
}
</style>
{% block content %}
	<div class="row">
		<div class="span12">
			<h1 class="center-it">A Revolution in the World of Sports</h1>
			<h4>The Highlight Network is a simple way for you to find the best sports highlights from crazy backyard basketball dunks to  pro UFC knockouts.
			Easy to add your own moments of glory and simple to search for other wild sports highlights The Highlight Network is the best place to find
			it all.</h4>
		</div>
	</div>
	
	<div class="row">
		<div class="span8 offset2">
		
			<img src="http://i.imgur.com/rnImqa1.jpg" alt="crazy dunk">
		
		</div>
	</div>	
			        
{% endblock %}