{% extends "master.html" %}

{% block head %}
<title>Contact Us</title>
{% endblock %}

{% block content %}


<div class="row">
	<div class="span12">
			<h2>Contact Us:</h2>
			
			<p>If you'd like to get in touch feel free to email us anytime at: <a href="mailto:mgmt@thehighlightnetwork.com">mgmt@thehighlightnetwork.com</a></p>
			
			<p>Additionally if you would like to reach out over <a href="https://twitter.com/highlightnet">Twitter</a> or 
				        		<a href="https://www.facebook.com/TheHighlightNetwork">Facebook</a> we'll get back with you ASAP.</p>
				        		
       		<br><br>
	</div>
</div>

<div class="row">
	<div class="span8 offset2">
		<div class="center-it">
			<img src="http://i.imgur.com/mScGuQ4.jpg" alt="football catch">
		</div>
	</div>
</div>

{% endblock %}