{% extends "master.html" %}

{% block head %}

	<title>The Highlight Network</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to The Highlight Network. Your source for the best in sports.">
    <meta name="author" content="Patrick Gray">
   
{% endblock %}

{% block content %}

	<div class="row">
		<div class="span12">
			<img src="http://i.imgur.com/YU0MJTc.gif">
			<br>
		</div>
	</div>

  	
   		
   	<div class="row">		
			
		<div class="span8 offset2">
		
				<h2>Welcome to The Highlight Network.  We'll be doing our official release in just a few days.  Get in touch 
				at <a href="mailto:mgmt@thehighlightnetwork.com">mgmt@thehighlightnetwork.com</a> if you have any questions or if you'd like to get early access!</h2>
				<br>
				<h3>If you have a password go ahead and <a href="/login">login or create an account!</a></h3>
		
		</div>			
		
	</div>	
		
        

	
{% endblock %}
