      <h3><a href="/video/{{v.key.id()}}">{{v.title}}</a></h3>
      	  <h5>
      	  By:  <a href="/user/{{v.submitter}}">@{{v.submitter}}</a>
      	  {% if v.shoutouts %}
      	   with shoutouts to:  
      	   {% for shoutout in v.shoutouts %}
      	   	<a href="/user/{{shoutout}}">@{{shoutout}}</a>
      	   {% endfor %}
      	  {% endif %}
      </h5>
	      {% if v.webm_video_ref and v.mp4_video_ref %}
	      		<div style="max-height:400px">
			    <video data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }' class="video-js vjs-default-skin"
  					poster=""
  					width="100%" height="400px">
				   <source src="http://thehighlightnetwork.appspot.com/serve/{{v.webm_video_ref}}" type="video/webm">
				   <source src="http://thehighlightnetwork.appspot.com/serve/{{v.mp4_video_ref}}" type="video/mp4">
			   </video>
			   </div>
		  {% else %}
			  <h3>Your video is almost ready to serve! Just give us another few seconds.</h3>
      	  {% endif %}
      <h4>Sport: {{v.sportcategory}} || Subcategory:  {{v.subcategory}} || Sportlevel:  {{v.sportlevel}}
      </h4>
      <h4>{% if v.winner %}  Victor: {{v.winner}} {% endif %}{% if v.loser and v.winner %} - {% endif %}{% if v.loser %} The Defeated: {{v.loser}} {% endif %}</h4>
      <h5>{% if v.tags %}
      	   Tags:  
      	   {% for tag in v.tags %}
      	   	<a href="/hashtag/{{tag}}">#{{tag}}</a>
      	   {% endfor %}
      	  {% endif %}
      </h5>
      {% if v.description %}
      <h4>Description:</h4> <p>{{v.description}}</p>
      {% endif %}
